body {
    font-family: Arial, sans-serif;
    background-color: #f6eeff;
}

.navbar {
    background-color: #f6eeff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    margin-right: 30px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #e6d0ff;
    color: black;
}

.navbar button:hover {
    background-color: #e6d0ff;
    color: black;
}

.navbar-left {
    justify-content: flex-start;
    padding-left: 100px;
}

.navbar-center {
    justify-content: center;
}

.navbar-right {
    justify-content: flex-end;
    padding-right: 100px;
}

.dropbutton {
    font-size: 16px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbutton {
    background-color: #f6eeff;
    padding: 14px 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.navbar-profile {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.page-title {
    padding-left: 100px;
}

.main-content {
    padding-left: 120px;
}

.facility-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.facility-container {
    padding-left: 100px;
    padding-top: 30px;
}

.facility-item {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-bottom: 40px;
}

.facility-item img {
    width: 300px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.facility-info {
    display: flex;
    flex-direction: column;
}

.facility-info p, h2{
    margin: 3px 0;
}

.facility-info div {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.facility-info svg {
    margin-right: 4px;
    vertical-align: middle;
}

#facility {
    margin-top: 35px;
}

.reservation-form-content {
    padding-left: 100px;
}

.reservation-margin {
    margin-bottom: 30px;
}

#submit-button {
    width: 80px;
    height: 35px;
}

#profile-pic {
    width: 200px;
    height: 200px;
}

#profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-button {
    height: 30px;
    margin-left: 10px;
}

.profile-padding {
    margin-bottom: 20px;
}




.modal {
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.modal-body {
    padding: 5px 20px;
}

.divider {
    border-color: rgba(0, 0, 0, 0.1);
}

#picture-input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    /* Add square border */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-footer {
    text-align: right;
    padding: 10px 20px;
}

.modal-footer button {
    margin-left: 10px;
}

#closeBtn {
    width: 60px;
    height: 30px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
}

#saveBtn {
    width: 110px;
    height: 30px;
    background-color: rgb(85, 85, 255);
    /* Remove border */
    border: none;
    color: white;
    border-radius: 4px;
}

.show {
    display: block;
}